<header class="masthead ">
    <div class="container">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/moteles/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="Motel_Nombe" class="form-control" placeholder="Nombre Motel"  autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Direccion_Motel" class="form-control" placeholder="Direccion" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="Telefon_Motel" class="form-control" placeholder="Telefono" >
                        </div>
                        <div class="form-group">
                            <input type="email" name="Correo_Motel" class="form-control" placeholder="Email" >
                        </div>
                        <div class="form-group">
                            <input type="url" name="Web_Motel" class="form-control" placeholder="URL" >
                        </div>
                        <div class="form-group">
                            <textarea name="Descripcion" rows="4" class="form-control" placeholder="Descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>