<main class="registro">
    <header class="masthead d-flex">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="color_texto">Bienvenido {{user.fullname}}</h3>
                            <h4 class="color_texto">{{user.username}}</h4>
                                <a href="/moteles" class="btn btn-primary m-4">
                                    Revisa los Moteles    
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>
</main>